<!DOCTYPE html>
<head lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 인증</title>

    <div th:insert="fragments/common :: head('head')"></div>

    <style>
        .container {
            margin-top: 180px;
        }
    </style>

    <script>
        function send_mail(){
            const token = localStorage.getItem('Authorization');
            const username = localStorage.getItem('username');
            const requestVerifyEmail = {username : username};
            $.ajax({
                type : "POST",
                url : "/user-server/user/verify",
                headers : {
                    "Authorization" : 'Bearer ' + token,
                    "Content-Type" : "application/json",
                    "X-HTTP-Method-Override" : "POST"
                },
                dataType : "json",
                data : JSON.stringify(requestVerifyEmail),
                success : function(result){
                    console.log("result : ", result);
                    if(result.response == "success"){
                        alert(result.message);
                    }else{
                        alert(result.message);
                    }
                }
            });
        }

        function get_email(){
            const token = localStorage.getItem('Authorization');
            const username = localStorage.getItem('username');
            const requestVerifyEmail = {username : username};
            $.ajax({
                type : "GET",
                url : "/user-server/user/email/" + username,
                headers : {
                    "Authorization" : 'Bearer ' + token
                },
                dataType : "json",
                success : function(result){
                    console.log("result : ", result);
                    if(result.response == "success"){
                        document.getElementById("email").innerHTML=result.data;
                        send_mail();
                    }else{
                        alert(result.message);
                    }
                }
            });
        }

        get_email();
    </script>
</head>
<body>
<div class="container">
    <h2 class="text-center font-weight-bold">이메일 인증</h2>
    <div class="text-center mt-4">
        <h5>인증 메일이 <a id="email"></a>(으)로 전송되었습니다.</h5>
        <h5>받으신 이메일을 열어 버튼을 클릭하면 가입이 완료됩니다.</h5>
    </div>
    <div class="text-center mt-5">
        <h6>이메일을 확인할 수 없나요?</h6>
        <p class="mb-5 pb-lg-2" style="color: #393f81;">스팸 편지함 확인 또는
            <a onclick="send_mail()" style="color: #0000FF;">인증 메일 다시 보내기</a>
        </p>
    </div>
</div>
</body>
</html>